body{
	font-family: Arial;
	padding: 0;
	margin: 0;
}

.header{
	text-align: center;
	background-color: #445A81;
	padding: 5px 0 10px;
}

.logo{
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.page-content{
	margin: 50px auto 0;
	width: 60%;
}

.header .nav-bar a{
	text-decoration: none;
	display: inline-block;
	background-color: #1A3460;
	color: #fff;
	padding: 7px 14px;
	border-radius: 5px;
	margin: 3px 0 0;
	font-weight: bold;
}

.input-section label{
	display: block;
}

.input-section{
	margin: 0 0 10px;
}

.input-section textarea{
	width: 50%;
	height: 150px;

}

.comment_form{
display: none
}

.post{
	
	margin: 0 0 15px;
	
	
}

.post .user-name{
	font-weight: bold;
	float: left
	
}

.post .creation-date{
	margin:  0 10px 0;
	float: left
}

.post .controls{
    float: left
}

.post .avatar{
    float: left
    
}

.post .post-text{
    margin: 50px 0px 20px
}