<!doctype html>
<html>
<head>
<link href="/static/css/styles.css?${buildNum}" rel="stylesheet" type="text/css" />

${self.head_content()}

</head>
<body>
<div>
	<div class="header">
		<div style="width: 60%; margin: 0 auto; text-align: left;">
			<a class="logo" href="/">myforum</a>
			<div class="nav-bar" style="float: right">
				%if is_auth:
				    <a href="${url_for('user', username = current_user.username, page = 1)}">${session['username']}</a>
				    <a href="${url_for('logout')}">Logout</a>

				%else:
				    <a href="${url_for('signin')}">Signin</a>
				    <a href="${url_for('signup')}">Signup</a>


				%endif
			</div>
		</div>
	</div>
	<div class="page-content">
		${self.page_content()}
	</div>
</div>
</body>

</html>


<%def name="head_content()">
</%def>


<%def name="page_content()">
</%def>