<%inherit file="base.html"/>


<%def name="page_content()">
%if is_auth:
% if current_user.id == p.user_id or current_user.admin_mod==1:
<h1>Delete this post?</h1>

    <form method="post" action="${url_for('delete_comment', post_id=p.post_id)}">
        <input type="submit" value="Delete comment">
        <input type="button" value="Cancel">
    </form>
%else:
You can`t do this!
<a href="${url_for('home')}">Home</a>
%endif
%else:
You can`t do this!
<a href="${url_for('home')}">Home</a>
%endif
</%def>