<%inherit file="base.html"/>


<%def name="page_content()">
<h1>Comments</h1>
%if comments:
	${self.comments_content()}
%else:
	No comments yet.
%endif


<form method="post" action="${url_for('add_comment')}">
	<h2>Post your comment</h2>
	<div class="input-section">
		<label>Your name</label>
		<input type="text" name="user_name" />
	</div>
	<div class="input-section">
		<label>Your comment</label>
		<textarea name="comment_text"></textarea>
	</div>
	<input type="submit" value="Post comment" />
</form>
</%def>

<%def name="comments_content()">
%for c in comments:
	<div class="comment">
		<div class="user-name">${c.user_name}</div>
		<div class="creation-date">
			${c.creation_date}
			- <a href="${url_for('edit_comment', comment_id=c.id)}">edit</a>
			- <a href="${url_for('delete_comment')}">delete</a>
		</div>
		<div class="comment-text">${c.comment_text}</div>
	</div>
%endfor

</%def>