<%inherit file="base.html"/>


<%def name="page_content()">

<h1>Comments</h1>
%if posts and is_auth:
	${self.posts_func('home',posts,page,pages)}
%else:
	<p>No posts yet.</p>
%endif

%if not is_auth:
    <p>You need a registration</p>
%else:
	%if current_user.admin_mod == -1:
       <h3>You have been banned. You can call to SPORTLOTO to resolve this problem.</h3>
    %else:
        ${self.post_form()}
    %endif
%endif

</%def>

<%def name="post_form()">
	<form method="post" action="${url_for('add_comment')}">
		<h2>Post your comment</h2>
		<div class="input-section">
			<label>Your comment</label>
			<textarea name="comment_text"></textarea>
		</div>
		<div class="input-section">
			<label>Tags</label>
			<textarea name="tags"></textarea>
		</div>
		<input type="submit" value="Post comment" />
	</form>
</%def>

